* {
    margin: 0;
    padding: 0;
}

.containers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cube1 {
    background-color: #19A68C;
    width: 40px;
    height: 40px;
    margin: 2px;
    border-radius: 200px;
}

.cube2 {
    background-color: #F63D3A;
    width: 40px;
    height: 40px;
    margin: 2px;
    border-radius: 200px;

}

.cube3 {
    background-color: #FDA543;
    width: 40px;
    height: 40px;
    margin: 2px;
    border-radius: 200px;

}

.cube4 {
    background-color: #193B48;
    width: 40px;
    height: 40px;
    margin: 2px;
    border-radius: 200px;

}

.d-flex {
    display: flex;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.wrapbox{
    animation: rotate 2s infinite;
}